<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/main_ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiabeticsDiaryNew.NoActionBar"
        tools:targetApi="28"
        android:launchMode="singleTask"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".loginactivity.LoginActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

            </intent-filter>
        </activity>

        <activity
            android:name=".mainactivity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.DiabeticsDiaryNew.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".util.NotificationRegistry"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>